######################################
# Do any local nrpe configuration here
######################################

# Servidor Nagios autorizado
allowed_hosts={{ nagios_server }}

# Permitir ejecucion de argumentos
dont_blame_nrpe=1

# Checks sin ejecucion de argumentos provistos por el usuario
command[check_cpu]=/usr/lib/nagios/plugins/local-plugins/check_cpu.sh -w 80 -c 90
command[check_load]=/usr/lib/nagios/plugins/check_load -w 15,10,5 -c 30,25,20
command[check_users]=/usr/lib/nagios/plugins/check_users -w 50 -c 70
command[check_total_procs]=/usr/lib/nagios/plugins/check_procs -w 200 -c 250
command[check_zombie_procs]=/usr/lib/nagios/plugins/check_procs -w 5 -c 10 -s Z
command[check_mem]=/usr/lib/nagios/plugins/local-plugins/check_mem.pl -w 80 -c 90 -u -C
command[check_swap]=/usr/lib/nagios/plugins/check_swap -w 95% -c 90%
command[check_disk_boot]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /boot
command[check_disk_root]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /
command[check_disk_var]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /var
command[check_disk_tmp]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /tmp
command[check_ntp_time]=/usr/lib/nagios/plugins/check_ntp_time -H swisstime.ee.ethz.ch -w 360 -c 600
