define hostgroup {
  hostgroup_name servers
  alias Linux Servers
}

define command {
  command_name	create-ticket
  command_line	{{ nagios_path }}libexec/eventhandlers/create-ticket $HOSTNAME$ $SERVICEDISPLAYNAME$ $SERVICESTATE$ $SERVICESTATETYPE$
}

{% for host in groups['central'] %}
define host {
  use                     linux-server
  host_name               {{ hostvars[host].inventory_hostname_short }}
  alias                   {{ hostvars[host].inventory_hostname_short }}
  address                 {{ hostvars[host].ansible_ssh_host }}
  hostgroups              servers
}
{% endfor %}

define service {
  use                     generic-service
  hostgroup_name          servers
  service_description     PING
  check_command           check_ping!100.0,20%!500.0,60%
  notifications_enabled   0
  event_handler           create-ticket
}

define service {
  use                     generic-service
  hostgroup_name          servers
	service_description     HTTP
	check_command           check_http
	notifications_enabled   0
  event_handler           create-ticket
}

define service {
  use                     generic-service
	hostgroup_name          servers
	service_description     SSH
	check_command           check_ssh
  event_handler           create-ticket
  notifications_enabled   0
 }
